@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');

body{
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

#header{
  font-family: 'Habibi', serif;
  display: flex;
  flex-direction: column;
  background-color: #0A66C2;
  color: #242424;
  text-align: center;
  font-size: 13px;
}
