@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

body{
  background-color: #EDEDED;
  padding: 0px;
  margin: 0px;
}


#header{
    font-family: 'Habibi', serif;
    display: flex;
    flex-direction: column;
    background-color: #0A66C2;
    color: #242424;
    text-align: center;
}

.title h1{
    font-family: 'Rosarivo', serif;
    font-size: 20px;
}

.container{
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.box_input,.btt{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 19px;
    flex-direction: column;
    flex-wrap: nowrap
}

.input_name,.input_cod,.input_cargo{
    width: 35%;
}

.input_email,.input_curso{
    width: 45%;
}

input,select{
    height: 40px;
    background-color: #D8D8D8;
    width: 100%;
    font-size: 16px;
    border: none;
}

button{
    border: none;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 42px;
}

.befor{
    content: '';
    width: 100%;
    height: 7px;
    background-color: #00A5D9;
    display: block;
    margin: 0px auto;
}

button:hover{
    background-color: #3e8e41;
}

.footer{
    padding: 20px;
    margin-bottom:0px;
    background-color: #0A66C2;
}


@media only screen and (max-width: 425px) {
    #header {
      font-size: 10px;
    }

    .input_name, .input_cod, .input_cargo {
        width: 60%;
    }

    .input_email,.input_curso{
        width: 75%;
    }
}

